#.gitattributes
# disable newline conversion on checkout with no conversion on check-in for all files
* -text

*.pj2 text eol=crlf
*.vc2 text eol=crlf
*.sc2 text eol=crlf
*.fr2 text eol=crlf
*.fr2d text eol=crlf
*.mn2 text eol=crlf
*.lb2 text eol=crlf
*.lb2d text eol=crlf

*.prg text eol=crlf
*.h   text eol=crlf
*.ini text eol=crlf
*.xml text eol=crlf
